Recommendation System

In [1]:
import warnings
warnings.filterwarnings('ignore')
from collections import Counter

# Import necessary packages
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load Dataset anime.csv
df = pd.read_csv("anime.csv")

In [3]:
df.shape

(12294, 7)

In [4]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [6]:
len(df.genre.unique())

3265

In [7]:
len(df.rating.unique())

599

In [8]:
len(df.name.unique())

12292

In [9]:
df.rating.unique()

array([ 9.37,  9.26,  9.25,  9.17,  9.16,  9.15,  9.13,  9.11,  9.1 ,
        9.06,  9.05,  9.04,  8.98,  8.93,  8.92,  8.88,  8.84,  8.83,
        8.82,  8.81,  8.8 ,  8.78,  8.77,  8.76,  8.75,  8.74,  8.73,
        8.72,  8.71,  8.69,  8.68,  8.67,  8.66,  8.65,  8.64,  8.62,
        8.61,  8.6 ,  8.59,  8.58,  8.57,  8.56,  8.55,  8.54,  8.53,
        8.52,  8.51,  8.5 ,  8.49,  8.48,  8.47,  8.46,  8.45,  8.44,
        8.43,  8.42,  8.41,  8.4 ,  8.39,  8.38,  8.37,  8.36,  8.35,
        8.34,  8.33,  8.32,  8.31,  8.3 ,  8.29,  8.28,  8.27,  8.26,
        8.25,  8.24,  8.23,  8.22,  8.21,  8.2 ,  8.19,  8.18,  8.17,
        8.16,  8.15,  8.14,  8.13,  8.12,  8.11,  8.1 ,  8.09,  8.08,
        8.07,  8.06,  8.05,  8.04,  8.03,  8.02,  8.01,  8.  ,  7.99,
        7.98,  7.97,  7.96,  7.95,  7.94,  7.93,  7.92,  7.91,  7.9 ,
        7.89,  7.88,  7.87,  7.86,  7.85,  7.84,  7.83,  7.82,  7.81,
        7.8 ,  7.79,  7.78,  7.77,  7.76,  7.75,  7.74,  7.73,  7.72,
        7.71,  7.7 ,  7.69,  7.68,  7.67,  7.66,  7.65,  7.64,  7.63,
        7.62,  7.61,  7.6 ,  7.59,  7.58,  7.57,  7.56,  7.55,  7.54,
        7.53,  7.52,  7.51,  7.5 ,  7.49,  7.48,  7.47,  7.46,  7.45,
        7.44,  7.43,  7.42,  7.41,  7.4 ,  7.39,  7.38,  7.37,  7.36,
        7.35,  7.34,  7.33,  7.32,  7.31,  7.3 ,  7.29,  7.28,  7.27,
        7.25,  7.26,  7.24,  7.23,  7.22,  7.21,  7.2 ,  7.19,  7.18,
        7.17,  7.16,  7.14,  7.15,  7.13,  7.12,  7.11,  7.1 ,  7.09,
        7.08,  7.07,  7.06,  7.05,  7.04,  7.03,  7.02,  7.01,  7.  ,
        6.99,  6.98,  6.97,  6.96,  6.95,  6.94,  6.93,  6.92,  6.91,
        6.9 ,  6.89,  6.88,  6.87,  6.86,  6.85,  6.84,  6.83,  6.82,
        6.81,  6.8 ,  6.79,  6.78,  6.75,  6.77,  6.76,  6.74,  6.73,
        6.72,  6.71,  6.7 ,  6.69,  6.68,  6.67,  6.66,  6.65,  6.64,
        6.63,  6.62,  6.61,  6.6 ,  6.59,  6.58,  6.57,  6.56,  6.55,
        6.54,  6.53,  6.52,  6.51,  6.47,  6.5 ,  6.49,  6.48,  6.46,
        6.45,  6.42,  6.44,  6.43,  6.39,  6.41,  6.4 ,  6.38,  6.37,
        6.35,  6.36,  6.34,  6.33,  6.32,  6.31,  6.3 ,  6.29,  6.28,
        6.27,  6.26,  6.25,  6.22,  6.24,  6.23,  6.21,  6.2 ,  6.19,
        6.18,  6.17,  6.16,  6.15,  6.14,  6.13,  6.12,  6.1 ,  6.11,
        6.09,  6.08,  6.06,  6.07,  6.05,  6.04,  6.03,  6.01,  6.02,
        6.  ,  5.99,  5.98,  5.97,  5.96,  5.95,  5.94,  5.93,  5.92,
        5.91,  5.89,  5.9 ,  5.88,  5.87,  5.86,  5.85,  5.84,  5.83,
        5.82,  5.81,  5.8 ,  5.79,  5.78,  5.77,  5.76,  5.75,  5.74,
        5.73,  5.72,  5.7 ,  5.71,  5.69,  5.68,  5.67,  5.66,  5.65,
        5.64,  5.63,  5.62,  5.61,  5.6 ,  5.59,  5.58,  5.57,  5.56,
        5.55,  5.53,  5.54,  5.52,  5.51,  5.5 ,  5.49,  5.48,  5.46,
        5.47,  5.45,  5.44,  5.43,  5.42,  5.41,  5.4 ,  5.39,  5.38,
        5.37,  5.36,  5.35,  5.34,  5.33,  5.32,  5.31,  5.3 ,  5.29,
        5.28,  5.27,  5.26,  5.24,  5.25,  5.23,  5.22,  5.21,  5.2 ,
        5.19,  5.14,  5.18,  5.17,  5.16,  5.15,  5.13,  5.11,  5.12,
        5.1 ,  5.09,  5.07,  5.08,  5.06,  5.05,  5.04,  5.03,  5.02,
        5.01,  5.  ,  4.99,  4.98,  4.97,  4.96,  4.95,  4.94,  4.93,
        4.92,  4.91,  4.9 ,  4.89,  4.88,  4.84,  4.87,  4.86,  4.85,
        4.83,  4.82,  4.81,  4.8 ,  4.79,  4.78,  4.77,  4.76,  4.75,
        4.74,  4.73,  4.72,  4.71,  4.7 ,  4.69,  4.68,  4.66,  4.67,
        4.65,  4.64,  4.63,  4.62,  4.6 ,  4.59,  4.58,  4.57,  4.56,
        4.55,  4.54,  4.53,  4.52,  4.49,  4.5 ,  4.48,  4.46,  4.45,
        4.44,  4.43,  4.42,  4.4 ,  4.39,  4.38,  4.36,  4.35,  4.34,
        4.32,  4.31,  4.3 ,  4.28,  4.27,  4.26,  4.25,  4.24,  4.23,
        4.22,  4.21,  4.19,  4.17,  4.16,  4.15,  4.11,  4.08,  4.04,
        4.03,  4.02,  4.  ,  3.99,  3.98,  3.96,  3.91,  3.9 ,  3.88,
        3.87,  3.86,  3.84,  3.83,  3.82,  3.8 ,  3.78,  3.76,  3.75,
        3.74,  3.73,  3.71,  3.7 ,  3.68,  3.65,  3.63,  3.62,  3.6 ,
        3.58,  3.59,  3.56,  3.47,  3.46,  3.41,  3.36,  3.33,  3.32,
        3.27,  2.95,  2.93,  2.78,  2.67,  2.37,  2.14,  2.  ,  4.06,
        4.18,  4.09,  3.67,  3.  ,  4.33,  3.89,  4.2 ,  3.61,  4.13,
        3.11,  2.58,  4.29,  3.43,  3.57,  4.05,  4.51,  3.4 ,  3.79,
        3.81,  3.92,  3.48,  3.38,  3.95,  4.61,  3.34,  3.02,  2.69,
        3.5 ,  3.97,  3.85,   nan,  3.77,  3.53,  9.33,  4.14,  4.12,
        3.2 ,  3.93,  3.52,  2.55,  9.  ,  2.97,  4.1 ,  3.39,  3.17,
        9.5 ,  3.25,  2.8 ,  2.91,  2.75,  4.41,  3.72,  3.94,  1.67,
        4.37,  3.69,  3.26,  3.49,  2.49,  2.84,  4.07,  3.35,  3.54,
        3.21,  3.42,  9.6 ,  3.28, 10.  ,  3.51,  3.29,  2.72,  3.64,
        2.98,  3.44,  1.92,  2.86,  3.14])

In [10]:
df.groupby('name')['rating'].mean().sort_values(ascending=False)[:6]

name
Taka no Tsume 8: Yoshida-kun no X-Files    10.00
Spoon-hime no Swing Kitchen                 9.60
Mogura no Motoro                            9.50
Kimi no Na wa.                              9.37
Kahei no Umi                                9.33
Fullmetal Alchemist: Brotherhood            9.26
Name: rating, dtype: float64

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
anime_id,12294.0,14058.221653,11455.294701,1.00,3484.25,10260.50,24794.50,34527.0
rating,12064.0,6.473902,1.026746,1.67,5.88,6.57,7.18,10.0
members,12294.0,18071.338864,54820.676925,5.00,225.00,1550.00,9437.00,1013917.0

In [12]:
df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [13]:
# handling missing values
df = df.dropna(subset=["genre"])
df["rating"] = df["rating"].fillna(df["rating"].median())
df["type"] = df["type"].fillna(df["type"].mode()[0])
df['episodes'] = df['episodes'].replace({'Unknown': 0, '?': 0}).astype(int)  # Handle 'episodes' column: Replace 'Unknown' or '?' with 0 and convert to numeric

Feature Selection (Genre-Based):

In [14]:
df["genre_list"] = df["genre"].fillna("").apply(lambda x: [g.strip() for g in x.split(",")])
# converting the genre column from a single comma-separated string into a clean list of individual genres for each anime.

In [15]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
item_feature_matrix = mlb.fit_transform(df["genre_list"])
item_feature_matrix

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

MultiLabelBinarizer converts multiple labels per record into a binary (0/1) matrix

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test = train_test_split(
    item_feature_matrix, test_size=0.2, random_state=42
)

In [17]:
df["genre_list"] = df["genre"].str.split(", ")
df["genre_list"]

0                   [Drama, Romance, School, Supernatural]
1        [Action, Adventure, Drama, Fantasy, Magic, Mil...
2        [Action, Comedy, Historical, Parody, Samurai, ...
3                                       [Sci-Fi, Thriller]
4        [Action, Comedy, Historical, Parody, Samurai, ...
                               ...
12289                                             [Hentai]
12290                                             [Hentai]
12291                                             [Hentai]
12292                                             [Hentai]
12293                                             [Hentai]
Name: genre_list, Length: 12232, dtype: object

In [18]:
from sklearn.metrics.pairwise import cosine_similarity

item_item_similarity = cosine_similarity(X_train)
item_item_similarity

array([[1.        , 0.35355339, 0.        , ..., 0.        , 0.25      ,
        0.37796447],
       [0.35355339, 1.        , 0.        , ..., 0.        , 0.35355339,
        0.26726124],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.18898224],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.21821789],
       [0.25      , 0.35355339, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.37796447, 0.26726124, 0.18898224, ..., 0.21821789, 0.        ,
        1.        ]])

In [19]:
from sklearn.metrics.pairwise import cosine_similarity,euclidean_distances

cosine_similarity -- how similar two vectors are based on angle, not magnitude.

euclidean_distance -- straight-line distance between two points.

Cosine_Similarity(Item based)

In [20]:
similarity_matrix = cosine_similarity(X_train)
similarity_matrix

array([[1.        , 0.35355339, 0.        , ..., 0.        , 0.25      ,
        0.37796447],
       [0.35355339, 1.        , 0.        , ..., 0.        , 0.35355339,
        0.26726124],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.18898224],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.21821789],
       [0.25      , 0.35355339, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.37796447, 0.26726124, 0.18898224, ..., 0.21821789, 0.        ,
        1.        ]])

In [21]:
def recommend_by_name(anime_name, top_n=10):

    idx = df[df["name"] == anime_name].index # Get index of the anime based on its name

    if len(idx) == 0:
        return "Anime not found in dataset"

    idx = idx[0]

    sim_scores = list(enumerate(similarity_matrix[idx])) # Compute similarity scores of selected anime with all others
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:top_n+1] # desc order sorting

    anime_indices = [i[0] for i in sim_scores]

    return df.iloc[anime_indices][["name", "genre", "rating"]]

In [22]:
recommend_by_name("Naruto", top_n=10)
# more recommended are...type name and get
# future obj: use embedded nlp

,name,genre,rating
841,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",7.81
2033,Detective Conan OVA 01: Conan vs. Kid vs. Yaiba,"Adventure, Comedy, Mystery, Shounen",7.37
2156,Mini Van,"Comedy, Game, Parody, Slice of Life",7.34
2801,Nanatsu-iro★Drops,"Magic, Romance, School",7.16
3467,Choujikuu Seiki Orguss 02,"Action, Adventure, Mecha, Romance, Sci-Fi, Sho...",6.98
3529,Naruto: Dai Katsugeki!! Yuki Hime Shinobu Houj...,"Action, Comedy, Fantasy, Martial Arts, Shounen...",6.96
7579,Kakegae no,Drama,5.27
8098,Aikatsu Stars! Movie,"Music, School, Shoujo, Slice of Life",7.00
8163,Ari to Kirigirisu,"Kids, Music",3.00
9447,Mak Dau Xiang Dang Dang,Comedy,6.81

In [23]:
from sklearn.metrics import precision_score, recall_score, f1_score

In [24]:
from sklearn.metrics import precision_score, recall_score, f1_score

y_true = [] # truth labels
y_pred = [] # predicted labels

threshold = 0.6

for i in range(len(X_test)):
    # Compute cosine similarity between test sample and all training samples
    sims = cosine_similarity(X_test[i].reshape(1, -1), X_train)[0]
    pred = (sims > threshold).astype(int)

    true = (sims > 0.8).astype(int)

    y_pred.extend(pred)
    y_true.extend(true)

In [25]:
precision = precision_score(y_true, y_pred)
recall    = recall_score(y_true, y_pred)
f1        = f1_score(y_true, y_pred)

precision, recall, f1

(0.3036725888770016, 1.0, 0.4658724766754337)

Interview Questions:

`Problem 1` Can you explain the difference between user-based and item-based collaborative filtering?

User-Based Collaborative Filtering:

*   Finds similar users based on preferences
*   Recommends items liked by similar users
*   Performance degrades with large user bases
*   List item

Item-Based Collaborative Filtering:


*   Finds similar items based on user interactions
*   Recommends items similar to those already liked by the user
*   More scalable and stable
*   Widely used in production systems (Amazon, Netflix)

`Problem 2` What is collaborative filtering, and how does it work?


Collaborative Filtering is a recommendation technique that predicts user preferences by leveraging past interactions and similarities among users or items, and it works by analyzing interaction patterns to recommend items liked by similar users or related to previously liked items.

Working Steps:

1. Collect user–item interaction data (ratings, clicks, purchases)

2. Build a user–item matrix

3. Compute similarity between users or items

4. Identify nearest neighbors based on similarity

5. Generate recommendations from neighbors’ preferences